.ql-toolbar {
    border: none !important;
}
.ql-container {
    border: none !important;
}
.select{
    height: 50px !important;
    border-radius: 100px !important;
    min-height: 50px !important;
    border-width: 0px !important;
    margin-top: -18px;
}